body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.img{
    margin-top: 3%;
}
.border{
    border: 2px solid #39c5bb;
    padding: 5px;
    width: auto;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}
.warning-box {
    background-color: yellow;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    max-width: 600px;
}